<div class="card border-0" style="width: 18rem;">
    <div class="d-flex justify-content-center">
        <img class="card-img-top rounded-circle w-75" src="https://timeline.canaltech.com.br/337261.700/aqui-estao-alguns-fatos-intrigantes-e-curiosidades-sobre-o-universo.jpg" alt="Imagem de capa do card">
    </div>
    
    <div class="card-body">
      <h5 class="card-title text-center text-monospace">{{nome}}</h5>

      <p class="card-text text-center text-monospace">Aluno Da Generation Brasil! Full Stack Java júnior</p>
      
      <a href = "https://www.linkedin.com/in/mauricio-rodrigues-brito-de-deus-b457b1152/ " class="btn btn-outline-info mb-3 d-flex justify-content-center" target="_blank">Linkedin</a> 
      <a href = "https://www.github.com/mauriciorodriguesbd" class="btn btn-outline-dark d-flex justify-content-center" target="_blank">GitHub</a>

    </div>
 
  </div>

	