.texto{
    letter-spacing: .2rem;
    font-size: 36px;
}
a{
    cursor: pointer;
}
.navbarfundo{
    background-image: url('https://p2.trrsf.com/image/fget/cf/1200/1200/filters:quality(85)/images.terra.com/2020/06/26/11305368253158513.jpg');

}