<div class="container w-100">
    <div class="row w-100">
        <div class="col-md-12">
            <h1 class="text-monospace text-center">sejam bem vindes ao meu blog pessoal!              
            </h1>
        </div>

    </div>
    <div class="row mt-4 mb-4 w-100">
        <div class="col-md-12"></div>
        <p class="text-justify text-monospace">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatum incidunt hic quae illo aperiam ipsa consequatur, id repudiandae, ipsam at harum! Excepturi quis in vel atque voluptas, non vero recusandae?
           
        </p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Numquam impedit sequi, minima commodi consequatur laudantium incidunt perspiciatis. Ducimus vero commodi praesentium voluptatibus! Nihil nostrum dolor quas voluptatibus eaque recusandae possimus.

        </p>
    </div>
        <div class="parallax"></div>
        <div class="row mt-5 mb-5 w-100">
            <div class="col-md-12 w-100 d-flex justify-content-center">
                <button classe="btn btn-outline-dark text-uppercase font-weight-bold" routerLink='/feed'>ver o feed</button>

            </div>

</div>


        </div>
